# ==============================================================================
# File        : templates/restic-backup.timer.j2
# Description : Systemd timer unit scheduling automated Restic backups
# Author      : SudoShea
# Version     : 1.0.0
# License     : MIT
# ==============================================================================

[Unit]
Description=Daily Restic Automated Encrypted Backup Schedule

[Timer]
OnCalendar={{ restic_timer_schedule }}
Persistent=true

[Install]
WantedBy=timers.target
