# ==============================================================================
# Timer        : restic-verify.timer
# Description  : Systemd timer for scheduling weekly Restic restore verification
# Author       : SudoShea
# Version      : 1.1.0
# Licence      : MIT
# ==============================================================================
[Unit]
Description=Weekly Restic Backup Verification Timer

[Timer]
OnCalendar={{ restic_verify_calendar }}
Persistent=true

[Install]
WantedBy=timers.target
